* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../../assets/background.jpg");
}

.content {
  background-color: azure;
  padding: 1rem;
  border-radius: 0.25rem;
}

.image {
  width: 30%;
  border-radius: 0.2rem;
}




