.contactUs {
 display: flex;
}

.bold {
    font-weight: bold;
}

.quote {
    width: 50rem;
}

.quoteText {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

.quoteAuthor {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}





