.home {
    background-color: azure;
    padding: 1rem;
    border-radius: 0.25rem;
}

.contactUs {
 display: flex;
}

.bold {
    font-weight: bold;
}

.image {
    width: 30%;
    border-radius: 0.2rem;
}

.quote {

}

.quoteAuthor {

}





