.links {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

a {
  margin: auto;
}

svg {
  margin: auto;
}

.links:hover {
  text-decoration: none;
}

.center {
  align-self: center;
}

.logo {
  width: 5rem;
  height: auto;
}



